@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #2196F3;
  --color-primary-content: #ffffff;
}

.input:not(.input-error):focus,
.input:not(.input-error):focus-visible,
.select:not(.select-error):focus,
.select:not(.select-error):focus-visible,
.textarea:not(.textarea-error):focus,
.textarea:not(.textarea-error):focus-visible {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: none;
}